---
layout: default
---

<article class="post-container post-container--single">
    <header class="post-header">
        <h3>Projects</h3>
    </header>
    <br/>
    <section class="post">
        <h5>
            <i class="icon icon-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sadhu89/SSE">SSE</a></strong>
            - UNMSM Alumni Tracking System using Spark Framework and NuoDB
        </h5>
        <h5>
            <i class="icon icon-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sadhu89/Bookstore">UNMSM Bookstore</a></strong>
            - Online Bookstore for the UNMSM Press using Codeigniter.
        </h5>
    </section>
</article>
<hr class="post-list__divider "> {% if paginator.previous_page or paginator.next_page %} {% include pagination.html %} {% endif %}
