---
layout: default
---

<article class="post-container post-container--single">
    <header class="post-header">
        <h3>Projects</h3>
    </header>
    <br/>
    <section class="post">
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/search-flights" target="_blank">Search Flights</a></strong>
            - Application where users can enter a deperture city, a destiny city and when he/she is planning to travel as a result show all the flights by airline in the same day and nearby dates (+/- 2).
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/googlemaps-geocodeAPI-angular" target="_blank">GeoLocation</a></strong>
            - Geolocation user can send and address from the form and retrieving the location’s latitude and longitude.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/Linguita" target="_blank">Linguita</a></strong>
            - Linguita you can find a language partner in the moments that you want instantly.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/drawing" target="_blank">Drawing</a></strong>
            - Drawing is an application where users can draw whatever they want.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/portfolio-website" target="_blank">Portfolio Website</a></strong>
            - Portfolio app using meteor.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/socialWebsite" target="_blank">Social Website</a></strong>
            - Social Website is an application where users can save their favorites web site.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/Minstant" target="_blank">Minstant</a></strong>
            - Minstant is an application user can choose someone to chat with.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/Popular-Movie" target="_blank">Popular Movie</a></strong>
            - Mobile app to allow users to discover the most popular movies playing.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/SSE" target="_blank">SSE</a></strong>
            - UNMSM Alumni Tracking System using Spark Framework and NuoDB.
        </h5>
        <h5>
            <i class="icon icon-social-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/caritosteph/Bookstore" target="_blank">UNMSM Bookstore</a></strong>
            - Online Bookstore for the UNMSM Press using Codeigniter.
        </h5>
    </section>
</article>
<hr class="post-list__divider "> {% if paginator.previous_page or paginator.next_page %} {% include pagination.html %} {% endif %}
