<article class="post-container post-container--single">
    <header class="post-header">
        <h1 class="post-title">Projects</h1>
    </header>
    <section class="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sadhu89/travelist">Travelist</a></strong>
			| <a href="http://gotravelist.herokuapp.com/">Live site</a> - Web App to save future travel plans using Rails, MongoDB, Geocoder, Mapbox.js and 500px API. Built with <a href="https://twitter.com/hjotar">@hjotar</a>. 
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sadhu89/SSE">SSE</a></strong>
			- UNMSM Alumni Tracking System using Spark Framework and NuoDB
		</h5>
                <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sadhu89/Bookstore">UNMSM Bookstore</a></strong>
			- Online Bookstore for the UNMSM Press using Codeigniter.
		</h5>
                <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sadhu89/DesempenioAmbiental">DesempenioAmbiental</a></strong>
			- Google Script App with HTML. CSS and Jquery to get data from Petroperu dependencies 
		</h5>
            </div>
        </div>
    </section>
</article>
